body {
    background-image: url("159Z_2107.w026.n002.628B.p1.628.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 80%;
    max-width: 400px;
    background-color: transparent;
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgb(255, 255, 255);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 100%;
    padding: 5px;
  }
  
  textarea {
    height: 100px;
  }
  
  button {
    padding: 10px;
    background-color: #0701b0;
    color: white;
    border: none;
  }
  
  @media only screen and (max-width: 768px) {
    .container {
      width: 90%; /* Adjust the width for smaller screens */
      padding: 20px; /* Adjust the padding for smaller screens */
    }
  }
  